@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #415fe1;
    color: white;
    font-weight: bold;
}

img {
    width: 15%
}

.container {
    padding-left: 15em;
}

a,
a:hover {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
}