#honeyCard {
    display: flex;
    flex-direction: column;
    background-color: #FBF7E3;
    width: 300px;
    border-radius: 20%;
}

img {
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    padding-bottom: 20px;
    overflow: hidden;
}

.content {
    text-align: center;
}